#Quando você dá um commit no main:
#Baixa seu código
#Instala Python
#Instala as dependências
#Executa:


name: Run AI Agent Pipeline

on:
  push:
    branches:
      - main

jobs:
  run-agent:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run agent
        run: |
          python -m src.agent

      - name: Upload outputs
        uses: actions/upload-artifact@v4
        with:
          name: agent-outputs
          path: outputs/
